 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Custom List Form</title>
</head>
<body>
  <!-- {{ publishPath }}/webparts/{{ fileName }} -->

  <link type="text/css" rel="stylesheet" href="{{ publishPath }}/styles/app.css?v={{ assetsVersion }}">
  <!-- the following 5 js files are required to use CSOM -->
  <script src="/_layouts/1033/init.js"></script>
  <script src="/_layouts/15/MicrosoftAjax.js"></script>
  <script src="/_layouts/15/sp.core.js"></script>
  <script src="/_layouts/15/sp.runtime.js"></script>
  <script src="/_layouts/15/sp.js"></script>
  <script type="text/javascript" src="/_layouts/15/SP.UserProfiles.js"></script>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

  <link type="text/css" rel="stylesheet" href="{{ publishPath }}/styles/app.css?v={{ assetsVersion }}">
  <div id='listform-cewp-container'></div>

  <script src="{{ publishPath }}/scripts/app.js?v={{ assetsVersion }}"></script>
</body>
</html>