<!-- {{ publishPath }}/webparts/{{ fileName }} -->

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link type="text/css" rel="stylesheet" href="{{ publishPath }}/styles/app.css?v={{ assetsVersion }}">

<div id='listform-cewp-container'></div>

<script src="{{ publishPath }}/scripts/app.js?v={{ assetsVersion }}"></script>