<!-- {{ publishPath }}/webparts/{{ fileName }} -->

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link type="text/css" rel="stylesheet" href="{{ publishPath }}/styles/app.css?v={{ assetsVersion }}">

<style type="text/css">
.ms-cui-tabContainer {
  display: none !important
}
#s4-ribbonrow {
  height: 25px !important;
}
</style>
<div id='listform-cewp-container'></div>

<script src="{{ publishPath }}/scripts/app.js?v={{ assetsVersion }}"></script>